body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #3A4D39;
  padding: 10px;
  text-align: center;
  color: #ECE3CE;
}

h1 {
  margin: 0;
}

main {
  padding: 20px;
}

.image-container {
  width: 100%;
  height: 200px; /* Ajusta según sea necesario */
  background-color: #4F6F52;
  margin-bottom: 20px;
}

.button-container {
  text-align: center;
}

button {
  background-color: #4F6F52;
  color: #ECE3CE;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #3A4D39;
  color: #ECE3CE;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  animation: fadeInUp 0.5s ease-in-out; /* Animación de entrada */
}

.closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #4F6F52;
  color: #ECE3CE;
  border: none;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
}

@keyframes fadeInUp {
  from {
      opacity: 0;
      transform: translate(-50%, -70%);
  }
  to {
      opacity: 1;
      transform: translate(-50%, -50%);
  }
}

@keyframes fadeOutUp {
  to {
      opacity: 0;
      transform: translate(-50%, -70%);
  }
}

footer {
  background-color: #3A4D39;
  padding: 10px;
  text-align: center;
  color: #ECE3CE;
}
